<div id="footer">
	<p>
	©<%- theme.siteStartYear %>-<span id="footerYear"></span> 
	<a href="/"><%- config.author %></a> 
	
	<% if (theme.busuanzi){ %>
	<% } %>
	<br>
	Theme <a href="//github.com/wujun234/hexo-theme-tree" target="_blank">Tree</a>
	</p>
</div>
<script type="text/javascript"> 
	document.getElementById('footerYear').innerHTML = new Date().getFullYear() + '';
</script>